aside{
  position: fixed;
  right: 20px;
  top: calc(50% - 43px);
}
aside ul{
   
}
aside ul li{

}
aside ul li:not(:last-child){
  margin-bottom: 10px;
}
aside ul li a{
  font-size: 0;
  width: 14px;
  height: 14px;
  display: block;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.3s;
}
.currentB a{
  background-color:orangered;
  transform: scale(1.2);
}
.currentW{
  background-color:white; 
}
.active{
  background-color: yellow !important;
}