section#promotion {
  
}
section#promotion .wrap { 
  height: 100%;
  gap: 20px;
}
section#promotion .wrap h2 {
  
}
section#promotion .wrap p {  
  margin-bottom: 30px;
}
section#promotion .wrap iframe {
  
}

section#business {
  
}
section#business .wrap { 
  height: 100%;
  gap: 20px;
}
section#business .wrap h2 {
  
}
section#business .wrap p {
  
  margin-bottom: 20px;
}
section#business .wrap ul { 
  gap: 10px;
}
section#business .wrap ul li {  
  width: 50%;
}
section#business .wrap ul li a::before{
  content: "";
  background-repeat: no-repeat;
  display: block;
  width: 728px;
  height: 335px;
  background-size: contain;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 20px;
  background-position: center;
}
section#business .wrap ul li:nth-child(1) a::before{
  background-image: url(../img/busi_01.png);
  background-color: #e8e4e4;
}
section#business .wrap ul li:nth-child(2) a::before{
  background-image: url(../img/busi_02.jpg);
  background-size: cover;
}
section#business .wrap ul li a {
  
}
section#business .wrap ul li a h3 {
  
}
section#business .wrap ul li a p {
  
  font-size: 19px;
}

section#products{  
  position: relative;
}
section#products .wrap {  
  height: 100%;
  flex-direction: column-reverse;
  margin: 0;
}
section#products .wrap h2 {
  
}
section#products .wrap ul {  
  position: absolute;
  bottom: 30px;
}
section#products .wrap ul li {
  
}
section#products .wrap ul li a {
  
}
section#products .wrap div.slickarticle {
  height: 100%;
  overflow: hidden;
  width: 1903px !important;
}
section#products .wrap div article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 200px;
  box-sizing: border-box;
  gap: 30px;
}
section#products .wrap div article h3 {
  
}
section#products .wrap div article figure{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
section#products .wrap div article figure img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
section#products .wrap div article p {
  
  font-size: 19px;
}
section#products .wrap div article a {
  font-weight: bold;
}
section#products .wrap div article a::after{
  content: "";
  display: inline-block;
  background: url(../img/3h.png) no-repeat center /contain;
  width: 50px;
  height: 20px;
  vertical-align: -5px;
}

section#news {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
section#news .wrap {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 2fr;
}
section#news .wrap h2 {
  grid-row: 1;
  grid-column: 1;
  line-height: 2;
}
section#news .wrap h3 {
  grid-column: 1;
  grid-row: 2;
}
section#news .wrap p {
  grid-row: 3 / span 5;
  grid-column: 1;
  align-self: start;
  line-height: 3;
  font-size: 19px;
}
section#news .wrap ul {  
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  grid-column: 2;
  grid-row: 1 / span 5;
  column-gap: 20px;
}
section#news .wrap ul li {
  grid-row: 1;
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
  /*! width: 100%; */
}
section#news .wrap ul li:first-child{
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
section#news .wrap ul li:nth-child(2){
  grid-row: 2;
  border-bottom: 1px solid black;
}
section#news .wrap ul li:nth-child(3){
  grid-row: 3;
  border-bottom: 1px solid black;
}
section#news .wrap ul li:nth-child(4){
  grid-row: 4;
  border-bottom: 1px solid black;
}
section#news .wrap ul li:nth-child(5){
  grid-row: 5;
  grid-column: 1;
  display: block;
}
section#news .wrap ul li:nth-child(6){
  grid-row: 5;
  grid-column: 2;
  display: block;
}
section#news .wrap ul li:nth-child(7){
  grid-row: 5;
  grid-column: 3;
  display: block;
}
section#news .wrap ul li:nth-child(8){
  grid-row: 5;
  grid-column: 4;
  display: block;
}
section#news .wrap ul li a {
  
}
section#news .wrap ul li a span{
  
}
section#news .wrap ul li a figure{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
section#news .wrap ul li a figure img{
  width: 248px;
}
section#news .wrap ul li a figure img:nth-child(3){
  
}
section#news .wrap ul li a figure img:nth-child(4){
  height: 351px;
}
section#news .wrap ul li a figure figcaption{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
  gap: 10px;
  line-height: 1.2;
  font-size: 14px;
  opacity: 0;
  transition: 1s;
}
section#news .wrap ul li a figure:hover figcaption{
  opacity: 1;
}
section#news .wrap ul li a figure figcaption::after{
  content: "";
  background-image: url(../img/3h.png);
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 30px;
}
section#news .wrap ul li a figure figcaption span {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
section#news .wrap ul li a time {
  
}
section#news .wrap a.more {
  grid-column: 1;
  grid-row: 5;
  position: absolute;
  bottom: 20%;
}
section#news .wrap a.more::after{
  content: "";
  background-image: url(../img/3h.png);
  display: inline-block;
  width: 50px;
  height: 20px;
  background-repeat: no-repeat;
}

section#products .slick-list{
  height: 100%;

}
section#products .slick-track{
   height: 100%;

}