section#promotion{color:1;
   .wrap{color:1;
      h2{color:1;

      }
      p{color:1;

      }
      iframe{color:1;

      }
   }

}
section#business{color:1;
   .wrap{color:1;
      h2{color:1;

      }
      p{color:1;

      }
      ul{color:1;
         li{color:1;
            a{color:1;
               h3{color:1;

               }
               p{color:1;

               }
            }
         }
      }
   }
}
section#products{
   .wrap{color:1;
      h2{color:1;

      }
      ul{color:1;
         li{color:1;
            a{color:1;

            }
         }
      }
      div{color:1;
         article{color:1;
            h3{color:1;

            }
            p{color:1;

            }
            a{color:1;

            }
         }
      }
   }
}
section#news{color:1;
   .wrap{color:1;
      h2{color:1;

      }
      h3{color:1;

      }
      p{color:1;

      }
      ul{color:1;
         li{color:1;
            a{color:1;
               span{color:1;

               }
               time{color:1;

               }
            }
         }
      }
      a.more{color:1;

      }
   }
}